.root {
  margin-top: rem(80px);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
.inner {
  padding-top: rem(40px);
  padding-bottom: rem(60px);
  display: flex;
  gap: rem(20px);
}
